@font-face {
  font-family: "Bebas Neue Book";
  src: local("Bebas Neue Book Regular"), local("BebasNeueBook"),
    url("../fonts/BebasNeueBook.woff2") format("woff2"),
    url("../fonts/BebasNeueBook.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar__item {
  margin: 0 40px;
}
.navbar__link {
  text-decoration: none;
  color: white;
}
.navbar__contacts {
  text-align: right;
}
.navbar__text {
  display: block;
  color: white;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar__phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
.main {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 54px;
  display: flex;
}
.main__info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.home__image path {
  opacity: 0;
}
.home__image path:hover {
  cursor: pointer;
  opacity: 1;
}
.counter__grop {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter__button {
  cursor: pointer;
  background-color: #fff;
  border: none;
}
.counter__down {
  transform: rotateX(180deg);
}
.main__title {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
}
.counter {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  color: #635854;
  font-size: 124px;
  margin-top: 10px;
}
.button__primary {
  background: #3596f5;
  border-radius: 6px;
  padding: 16px 36px;
  border: none;
  color: #fff;
  cursor: pointer;
}
