* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
}
.header {
  background-color: #635854;
  padding: 12px 0;
  border-bottom: 4px solid #3596f5;
}
.navbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__menu {
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar__item {
  margin: 0 40px;
}
.navbar__link {
  text-decoration: none;
  color: white;
}
.navbar__contacts {
  text-align: right;
}
.navbar__text {
  display: block;
  color: white;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}
.navbar__phone {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  color: white;
}
